In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
Green = pd.read_excel("Data/green_tripdata_2015-09.xls")

In [4]:
Green

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.0,NaN,0.0,9.75,1,2
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.0,NaN,0.0,45.00,1,2
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,...,4.0,0.5,0.5,0.50,0.0,NaN,0.3,5.80,1,1
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2,2015-09-02 16:51:59,2015-09-02 17:04:00,N,1,-73.829605,40.759716,-73.832214,40.751514,1,...,9.0,1.0,0.5,0.00,0.0,NaN,0.3,10.80,2,1
65531,2,2015-09-02 16:53:51,2015-09-02 17:04:32,N,1,-73.962112,40.805710,-73.984970,40.769550,1,...,10.5,1.0,0.5,2.46,0.0,NaN,0.3,14.76,1,1
65532,2,2015-09-02 16:57:21,2015-09-02 17:05:03,N,1,-73.829941,40.713718,-73.831917,40.702145,1,...,7.0,1.0,0.5,2.20,0.0,NaN,0.3,11.00,1,1
65533,2,2015-09-02 16:51:42,2015-09-02 17:05:28,N,1,-73.860748,40.832661,-73.845169,40.845306,1,...,10.5,1.0,0.5,2.46,0.0,NaN,0.3,14.76,1,1
65534,2,2015-09-02 16:40:36,2015-09-02 16:48:20,N,1,-73.941887,40.822948,-73.937180,40.804462,1,...,8.0,1.0,0.5,0.00,0.0,NaN,0.3,9.80,2,1

In [5]:
Green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [7]:
unique_vendor_ids = Green['VendorID'].unique()
unique_vendor_ids

array([2, 1], dtype=int64)

In [9]:
vendor_counts = Green['VendorID'].value_counts()
vendor_counts

VendorID
2    51412
1    14123
Name: count, dtype: int64

In [11]:
Green['Store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [12]:
Green['Store_and_fwd_flag'].value_counts()

Store_and_fwd_flag
N    65181
Y      354
Name: count, dtype: int64

In [13]:
Green['RateCodeID'].value_counts()

RateCodeID
1     63324
5      1907
2       201
4        52
3        49
99        1
6         1
Name: count, dtype: int64

In [14]:
Green['Tolls_amount'].value_counts()

Tolls_amount
0.00     63919
5.54      1463
2.54        46
9.75        34
11.75       15
8.00        13
2.08        10
11.08        7
17.29        5
0.50         3
5.33         2
5.50         2
2.00         1
11.09        1
2.20         1
0.09         1
0.80         1
19.50        1
6.04         1
7.62         1
4.00         1
40.79        1
3.00         1
8.08         1
20.83        1
1.00         1
17.50        1
4.62         1
Name: count, dtype: int64

In [16]:
Green_without_ehail = Green.drop(columns=['Ehail_fee'])

In [17]:
Green_without_ehail

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,0.00,7.8,0.0,0.0,1.95,0.0,0.0,9.75,1,2
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,0.00,45.0,0.0,0.0,0.00,0.0,0.0,45.00,1,2
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,0.59,4.0,0.5,0.5,0.50,0.0,0.3,5.80,1,1
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,0.74,5.0,0.5,0.5,0.00,0.0,0.3,6.30,2,1
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,0.61,5.0,0.5,0.5,0.00,0.0,0.3,6.30,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2,2015-09-02 16:51:59,2015-09-02 17:04:00,N,1,-73.829605,40.759716,-73.832214,40.751514,1,1.49,9.0,1.0,0.5,0.00,0.0,0.3,10.80,2,1
65531,2,2015-09-02 16:53:51,2015-09-02 17:04:32,N,1,-73.962112,40.805710,-73.984970,40.769550,1,2.88,10.5,1.0,0.5,2.46,0.0,0.3,14.76,1,1
65532,2,2015-09-02 16:57:21,2015-09-02 17:05:03,N,1,-73.829941,40.713718,-73.831917,40.702145,1,1.02,7.0,1.0,0.5,2.20,0.0,0.3,11.00,1,1
65533,2,2015-09-02 16:51:42,2015-09-02 17:05:28,N,1,-73.860748,40.832661,-73.845169,40.845306,1,2.17,10.5,1.0,0.5,2.46,0.0,0.3,14.76,1,1
65534,2,2015-09-02 16:40:36,2015-09-02 16:48:20,N,1,-73.941887,40.822948,-73.937180,40.804462,1,1.65,8.0,1.0,0.5,0.00,0.0,0.3,9.80,2,1

In [18]:
Green['Passenger_count'].value_counts()

Passenger_count
1    55836
2     4588
5     2506
3     1279
6      927
4      359
0       33
8        3
9        3
7        1
Name: count, dtype: int64

In [19]:
pip install folium

Collecting folium
  Downloading folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.7.2-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\acer\anaconda3\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\acer\anaconda3\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\acer\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\acer\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\acer\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\lib\site-packages (from requests->folium) (2024.2.2)
Downloading folium-0.17.0-py2.py3-none-any.whl (108 kB)
   ---------------------------------------- 0.0/108.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/108.4 kB ? eta -:--:--
   ----------- --------------------------- 30.7/108.4 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 108.4/108.4 kB 1.3 MB/s eta 0:00:00
Downloading branca-0.7.2-py3-none-any.whl (25 kB)
Installing collected packages: branca, folium
Successfully installed branca-0.7.2 folium-0.17.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import folium
Green = pd.read_excel("Data/green_tripdata_2015-09.xls")

# Create a map centered around NYC
map_center = [40.7128, -74.0060]
trip_map = folium.Map(location=map_center, zoom_start=12)

# Add pickup points to the map
for _, row in Green.iterrows():
    folium.CircleMarker(
        location=(row['Pickup_latitude'], row['Pickup_longitude']),
        radius=1,
        color='blue',
        fill=True,
        fill_opacity=0.5
    ).add_to(trip_map)

# Add dropoff points to the map
for _, row in Green.iterrows():
    folium.CircleMarker(
        location=(row['Dropoff_latitude'], row['Dropoff_longitude']),
        radius=1,
        color='red',
        fill=True,
        fill_opacity=0.5
    ).add_to(trip_map)

# Save the map to an HTML file
trip_map.save('nyc_trip_map.html')

In [25]:
vendor_comparison = Green.groupby('VendorID').agg(
    total_trips=('VendorID', 'size'),
    average_fare=('Fare_amount', 'mean'),
    average_trip_distance=('Trip_distance', 'mean')
).reset_index()

# Print the comparison
print(vendor_comparison)

   VendorID  total_trips  average_fare  average_trip_distance
0         1        14123     12.100324               2.885527
1         2        51412     12.487280               2.905873